---
import type { HTMLAttributes } from 'astro/types';

type AnchorProps = HTMLAttributes<'a'> & { type?: never };
type ButtonProps = HTMLAttributes<'button'> & { href?: never };

type Props = ButtonProps | AnchorProps;

const { href, class: className, ...rest } = Astro.props;
const buttonClasses =
    'inline-flex items-center justify-center px-6 py-2 text-sm leading-tight italic text-fontPrimary bg-main border border- rounded-md transition hover:bg-muted shadow-[0_8px_0_0_rgba(0,0,0,0.2)] active:shadow-[0_0_0_0_rgba(0,0,0,0.2)] active:translate-y-2';
---

{
    href ? (
        <a href={href} class:list={[buttonClasses, className]} {...rest}>
            <slot />
        </a>
    ) : (
        <button class:list={[buttonClasses, className]} {...rest}>
            <slot />
        </button>
    )
}
