---
import type { GetStaticPathsOptions, Page } from 'astro';
import { type CollectionEntry, getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import Pagination from '../../components/Pagination.astro';
import Subscribe from '../../components/Subscribe.astro';
import AItipAccordion from '../../components/AItipAccordion.astro';
import siteConfig from '../../data/site-config';

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
    const posts = await getCollection('aitips');
    return paginate(posts, { pageSize: siteConfig.postsPerPage || 4 });
}

type Props = { page: Page<CollectionEntry<'aitips'>> };

const { page } = Astro.props;
const blog = page.data.filter((i) => i.data.isPublished);
---

<BaseLayout
    title="AI Tips & Insights"
    description="Explore practical AI tips, guides, and insights to enhance your understanding and application of artificial intelligence."
    image={{ src: '/sijo-preview.jpg', alt: 'The preview of the site' }}
    showHeader={false}
>
    <h1 class="mb-4 text-2xl leading-tight italic sm:mb-8 sm:text-4xl">AI Tips Archive</h1>
    <p class="mb-12 sm:mb-16">
        These are not all my original works. I’ll be adding links to the original articles I found. This is just my archive to organize interesting prompts I’ve
        discovered, sharing them with the world while giving full credit to the real writers.
    </p>
    <div class="space-y-4">
        {blog.map((post) => <AItipAccordion post={post} />)}
    </div>
    <Pagination page={page} class="my-16 sm:my-24" />
    <Subscribe class="my-16 sm:my-24" />
</BaseLayout>
